@model Data.LandlinePhoneCall

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>LandlinePhoneCall</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Extension" class="control-label"></label>
                <input asp-for="Extension" class="form-control" />
                <span asp-validation-for="Extension" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LandlinePhoneCallDateTime" class="control-label"></label>
                <input asp-for="LandlinePhoneCallDateTime" class="form-control" />
                <span asp-validation-for="LandlinePhoneCallDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class ="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Destination" class="control-label"></label>
                <input asp-for="Destination" class="form-control" />
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LandlinePhoneCallDuration" class="control-label"></label>
                <input asp-for="LandlinePhoneCallDuration" class="form-control" />
                <span asp-validation-for="LandlinePhoneCallDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LandlinePhoneCallAddressee" class="control-label"></label>
                <input asp-for="LandlinePhoneCallAddressee" class="form-control" />
                <span asp-validation-for="LandlinePhoneCallAddressee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
